<div class="modal-header">
  <div class="modal-title">{{titlePrefix}} - {{title}}</div>
</div>

<div class="modal-body">
  <nz-tabset>
    <nz-tab [nzTitle]="l('label.role-info')">
      <sf #pageForm
        autocomplete="off"
        button="none"
        [disabled]="readonly"
        [schema]="pageFormSchema"
        [formData]="role"
        (keyup.enter)="sfSubmit(pageForm,permissionForm)">
      </sf>
    </nz-tab>
    <nz-tab [nzTitle]="l('label.permission')">
      <sf #permissionForm
        autocomplete="off"
        button="none"
        [disabled]="readonly"
        [schema]="permissionFormSchema"
        [formData]="permission"
        (keyup.enter)="sfSubmit(pageForm,permissionForm)">

        <ng-template sf-template="permissions"
          let-me
          let-ui="ui"
          let-schema="schema">

          <permission-tree [attr.id]="me.id"
            [attr.disabled]="me.disabled"
            [disabled]="me.disabled"
            [ngModel]="me.formProperty.value"
            (ngModelChange)="me.setValue($event)">
          </permission-tree>
        </ng-template>

      </sf>
    </nz-tab>
  </nz-tabset>


</div>

<div class="modal-footer">
  <button nz-button
    [nzType]="'default'"
    (click)="close()">
    {{l('label.cancel')}}
  </button>
  <button nz-button
    *ngIf="!readonly"
    [nzType]="'primary'"
    [nzLoading]="loading"
    [disabled]="!(pageForm.valid)"
    (click)="sfSubmit(pageForm,permissionForm)">
    {{l('label.ok')}}
  </button>
</div>
