
@{
    Layout = "_Layout";
}

@section Styles{
    <link href="../views/account/login.css" rel="stylesheet" asp-append-version="true" />
}

@section Scripts{
    <script src="../views/app.js" asp-append-version="true"></script>
    <script src="../views/account/login.js" asp-append-version="true"></script>
}

<form id="login" class="form-signin" method="post">
    <h1 class="h3 mb-3 font-weight-normal text-center">登录</h1>

    @if (ViewBag.IsEnabledMultiTenancy)
    {
        <label for="tenant" class="sr-only">租户</label>
        <input id="tenant" name="tenant"
               type="text"
               class="form-control"
               autofocus=""
               value=""
               placeholder="租户名称"
               title="租户名称">
    }

    <label for="account" class="sr-only">账号(用户名/手机/邮箱)</label>
    <input id="account" name="account"
           type="text"
           class="form-control"
           required=""
           autofocus=""
           value="admin"
           placeholder="账号(用户名/手机/邮箱)"
           title="账号(用户名/手机/邮箱)">

    <label for="inputPassword" class="sr-only">密码</label>
    <input id="password" name="password"
           type="password"
           class="form-control"
           required=""
           value="123qwe"
           placeholder="密码"
           title="密码">

    <div class="checkbox mb-3">
        <label>
            <input id="rememberClient" name="rememberClient" type="checkbox" value="false"> 记住我
        </label>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
</form>

