<div class="modal-header">
  <div class="modal-title">{{titlePrefix}} - {{title}}</div>
</div>

<div class="modal-body">
  <nz-tabset>
    <nz-tab [nzTitle]="l('label.user-info')">
      <sf #pageForm
        autocomplete="off"
        button="none"
        [disabled]="readonly"
        [schema]="pageFormSchema"
        [formData]="user"
        (keyup.enter)="sfSubmit(pageForm,roleForm)">
      </sf>
    </nz-tab>
    <nz-tab [nzTitle]="l('label.roles')">
      <sf #roleForm
        autocomplete="off"
        button="none"
        [disabled]="readonly"
        [schema]="roleFormSchema"
        [formData]="role"
        (keyup.enter)="sfSubmit(pageForm,roleForm)">

        <ng-template sf-template="roles"
          let-me
          let-ui="ui"
          let-schema="schema">
          <role-select [attr.id]="me.id"
            [attr.disabled]="me.disabled"
            [disabled]="me.disabled"
            [ngModel]="me.formProperty.value"
            (ngModelChange)="me.setValue($event)">
          </role-select>
        </ng-template>

      </sf>
    </nz-tab>
  </nz-tabset>


</div>

<div class="modal-footer">
  <button nz-button
    [nzType]="'default'"
    (click)="close()">
    {{l('label.cancel')}}
  </button>
  <button nz-button
    *ngIf="!readonly"
    [nzType]="'primary'"
    [nzLoading]="loading"
    [disabled]="!(pageForm.valid)"
    (click)="sfSubmit(pageForm,roleForm)">
    {{l('label.ok')}}
  </button>
</div>
