<div class="modal-header">
  <div class="modal-title">{{title}}</div>
</div>


<form #pageForm="ngForm"
      nz-form
      (ngSubmit)="submitForm()"
      novalidate>
  <!-- 账号 -->
  <nz-form-item>
    <nz-form-control>
      <nz-input-group nzPrefixIcon="user">
        <input #tenantNameInput="ngModel"
               nz-input
               [(ngModel)]="input.tenantName"
               name="tenantNameInput"
               type="text"
               [placeholder]="l('tenant.name')"
               minlength="3"
               maxlength="32"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
</form>

<div class="modal-footer">
  <button nz-button [nzType]="'default'" (click)="close()">
    {{l('label.cancel')}}
  </button>
  <button nz-button [nzType]="'primary'" (click)="submitForm()">
    {{l('label.ok')}}
  </button>
</div>
