
@{
    Layout = "_Layout";
}

@section Styles{

}

@section Scripts{

}




<a href="Account/Logout" style="display:inline-block;float:right;">Logout</a>

<a href="Home/Swagger" target="_blank">Swagger UI</a>