<page-header [title]="l('user')" [breadcrumb]="breadcrumb" [action]="action">
  <ng-template #breadcrumb></ng-template>
  <ng-template #action>
    <button nz-button (click)="createOrEdit()" [title]="l('common.create')">
      <i class="icon iconfont icon-add"></i>
    </button>
    <button nz-button (click)="refresh()" [title]="l('common.refresh')">
      <i class="icon iconfont icon-refresh"></i>
    </button>
  </ng-template>
</page-header>


<div class="page-body">

  <page-filter [schema]="viewInfo.filterSchema"  (readyChange)="onFilterReady($event)"
               (valueChange)="onFilterChange($event)">
  </page-filter>

  <st #st [loading]="loading"
      [page]="viewInfo"
      [columns]="viewInfo.columns"
      [data]="viewInfo.viewRecord"
      [virtualScroll]="viewInfo.virtual"
      [virtualItemSize]="viewInfo.virtualItemSize"
      [scroll]="viewInfo.scroll"
      [pi]="viewInfo.index"
      [ps]="viewInfo.size"
      [total]="viewInfo.totalRecord"
      [bordered]="viewInfo.bordered"
      [size]="viewInfo.tableSize"
      responsiveHideHeaderFooter
      (change)="stChange($event)">
  </st>

  <!--  <sample-table [loading]="loading" [page]="pageInfo" [columns]="pageInfo.columns" [data]="pageInfo.viewRecord"-->
  <!--    [virtual]="pageInfo.virtual" [virtualItemSize]="pageInfo.virtualItemSize" [scroll]="pageInfo.scroll"-->
  <!--    [pageIndex]="pageInfo.index" [pageSize]="pageInfo.size" [total]="pageInfo.totalRecord" (action)="onAction($event)"-->
  <!--    (check)="onCheckChange($event)" (sort)="onSortChange($event)" (pageIndexChange)="onPageIndexChange($event)"-->
  <!--    (pageSizeChange)="onPageSizeChange($event)">-->

  <!--  </sample-table>-->
</div>
